*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

body{
  margin: 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

h2, h3, h4{
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1{
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.01em;
}

h2{
  font-size: 30px;
  line-height: 44px;
  }

h3{
  font-size: 24px;
  line-height: 36px;
  color: #005BC1;
}

h4{
  font-size: 18px;
  line-height: 27px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  header{
    background: url(../images/background.jpg), #C4C4C4;
    max-width: 1920px;
    height: 800px;
    left: 0px;
    top: 0px;
    color: white;
}

    header a:link{
        color: white;
        text-decoration: none;
    }

    header a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
      }
      
      header a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      
      header a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }

  .header-logo{
    width: 20%;
    padding-left: 25px;
}

  .top-menu{
      width: 75%;
      padding-left: 10%;
  }

  .header-logo_nav{
      display: inline-block;
  }

  .top-menu-nav{
      width: 40%;
  }

  .top-menu-nav-style{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .text-uppercase{
    text-transform: uppercase;
  }

  section{
    margin: 0 auto;
}

.devices-rent-devise-info_specification > p{
  font-size: 16px;
  line-height: 24px;
}

  .production-devices-info a{
    color: white;
}

.p-title{
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

  footer{
    background: #005BC1;
    color: white;
}

  .footer-format > a{
    color: white;
}